<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    
    <div id="container">
        <div class="hint"><h4>Sign in to Create a Post</h4><a href="/signup">signup</a></div>
        
        <div id="form">
            <div class="user_info">
            <label class="email" for="text">Email</label>
            <br>
            <input type="text" placeholder="Enter your email here" required/>
            </div>
            <div class="user_info">
            <label class="password" for="password">Password</label>
            <br>
            <input type="password" placeholder="Enter your password here" required/>
            </div>
            
            <button>Log in</button>

        </div>
    </div>

</body>
</html>