<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home_page.css">
</head>
<body>
    <header>
        <div id="add_post">Add post</div>
        <div class="nav_bar">
            <div class="blog_logo">
                <img src="" alt="">
            </div>
            <div id="pages">
                <ul id="features">
                    <li><a href="">All</a></li>
                    <li><a href="">Entertainment</a></li>
                    <li><a href="">Foreign</a></li>
                </ul>
                <ul id="signin">
                    <li><a href="">SignUp</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section id="hero_section">Hero content</section>
    </main>
    <footer id="post">
        <div class="posts">
            <div class="post_cont1">
                    <form action="#" class="action">
                        <div class="lab_1">
                            <label for="title">Post Title:</label>
                            <input type="text" placeholder="Add a Title"/>
                        </div>
                        <div class="lab_2">
                            <label for="snipet">Post Snipet:</label>
                            <input type="text" placeholder="Add a Snipet"/>
                        </div>
                        <div class="lab_3">
                            <label for="description">Post Description:</label>
                            <textarea name="comment" placeholder="Type Your Comment..."></textarea>
                        </div>
                        
                    </form>
                
                    <div class="myImg">
                        <label for="text">Post Image:</label>
                        <!-- <select class="form-select" aria-label="Default select example"></select> -->
                        <input type="button" value="Click to add Post" onclick="msg()">
                    </div>
                    <button id="submit">Submit</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>